.product-list {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.search-bar {
    margin-bottom: 20px; 
}

.all-products-container {
    margin-bottom: 2rem;
}

.carousel {
    overflow: hidden; 
    position: relative; 
    width: 100%; 
}

.carousel-track {
    display: flex; 
    animation: scroll 50s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 200px; 
    height: 300px; 
    margin: 10px; 
    text-align: center;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.product-image {
    width: 120px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 8px; 
}

.product-card h3 {
    font-size: 1.1rem; 
    color: #333; 
    margin: 4px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
   
    -webkit-box-orient: vertical; 
}

.product-card p {
    font-size: 0.9rem; 
    color: #666; 
    margin: 4px 0; 
}

.price {
    color: #28a745; /* Color verde para el precio */
    font-weight: bold; 
    margin-top: auto; 
}

.category-section {
    margin-bottom: 2rem; 
    padding: 1rem; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.category-section h2 {
    margin-bottom: 1rem; 
    color: #333; 
}

.category-products {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    margin: 0 -10px; 
}

.category-products .product-card {
    flex: 1 0 21%;
    margin: 10px; 
    min-width: 200px; 
}
