
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield; 
    outline: none; 
}


input[type=number]:focus {
    outline: none; 
    background-color: transparent; 
    border: 1px solid #ccc; 
}
